/* secciones.component.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    flex: 1 1 calc(33% - 10px);
    margin: 5px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px); /* Puedes ajustar la distancia que se eleva */
  }
  
  .mat-card-hover {
    cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta */
  }
  
  mat-card {
    width: 450px;
  }
  
  mat-card img {
  
    height: 200px;
    background-size: cover;
  }
  .canvas {
  padding: 20px;
  }