<!-- <div class="canvas">
    <h3>
        Nuevo Proyecto
    </h3>
    <div class="contenedor">
        <form [formGroup]="proyectoForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
              <mat-label>Nombre del Proyecto</mat-label>
              <input matInput formControlName="proyectoNombre">
            </mat-form-field>
          
            <mat-form-field appearance="fill">
              <mat-label>Fecha de Creación</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="fechaCreacion">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          
            <mat-form-field appearance="fill">
              <mat-label>Fecha de Finalización</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="fechaFinali">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          
            <button mat-raised-button color="primary" type="submit">Guardar</button>
          </form>
    </div>
</div> -->