<div class="title">
<h1>Cronograma</h1>
</div>
<div class="content">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Tareas sin hacer </mat-panel-title>
            <mat-panel-description> This is a summary of the content </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title> Tareas en proceso </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState() ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Tareas entregadas </mat-panel-title>
              <mat-panel-description> This is a summary of the content </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
      </mat-accordion>
</div>