<h2 mat-dialog-title>Agregar Proyecto</h2>
<mat-dialog-content>
  <form [formGroup]="docenteForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre del Proyecto</mat-label>
      <input matInput formControlName="proyectoNombre" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Finalización</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="fechaFinali" required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Creación</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="fechaCreacion" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-button type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
