<mat-nav-list class="sidebar">
    <h3 matSubheader class="sidebar-title">AV</h3>
    <!-- DIVISOR DE NAVBAR -->

    <ul>
      <li>
        <mat-list-item routerLink="/home">
          <mat-icon mat-list-icon>home</mat-icon>
          <span mat-line class="sidebar-item">Inicio</span>
        </mat-list-item>
      </li>
    </ul>
    <ul>
      <li>
        <mat-list-item routerLink="/home-estudiantes">
          <mat-icon mat-list-icon>home</mat-icon>
          <span mat-line class="sidebar-item">Inicio estudiantes</span>
        </mat-list-item>
      </li>
    </ul>
    <ul>
      <li>
        <mat-list-item routerLink="/crea-doc">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <span mat-line class="sidebar-item">Crear Docente</span>
        </mat-list-item>
      </li>
    </ul>
    <ul>
      <li>
        <mat-list-item routerLink="/crea-est">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <span mat-line class="sidebar-item">Crear Estudiante</span>
        </mat-list-item>
      </li>
    </ul>
    <ul>
      <li>
        <mat-list-item routerLink="/o">
          <mat-icon mat-list-icon>book</mat-icon>
          <span mat-line class="sidebar-item">Registro de proyecto</span>
        </mat-list-item>
      </li>
    </ul>
    <ul>
      <li>
        <mat-list-item routerLink="/reg-pro">
          <mat-icon mat-list-icon>assignment_late</mat-icon>
          <span mat-line class="sidebar-item">Registro de cursos</span>
        </mat-list-item>
      </li>
    </ul>
    <mat-divider></mat-divider>
  